{
  parser: "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "max-len": [1, 120, 2, {ignoreComments: true}],
    "linebreak-style": ["error", "windows"],
    "no-console": ["error", { allow: ["log", warn", "error"] }],
    "comma-dangle": ["error", "never"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },
  "globals": {
    "window": true,
    "document": true
  }
}